<!-- Messages toggle -->
<button class="messages-toggle"
  mat-icon-button
  (click)="openPanel()"
  #messagesOrigin>
  @if (unreadCount > 0) {
    <mat-icon
    [svgIcon]="'message'"></mat-icon>
  }
  @if (unreadCount === 0) {
    <mat-icon
    [svgIcon]="'chat_bubble'"></mat-icon>
  }
</button>

<!-- Messages panel -->
<ng-template #messagesPanel>

  <div class="messages-panel">

    <div class="header">

      <div class="title">
        Messages
      </div>

      <button class="mark-all-as-read"
        mat-icon-button
        [matTooltip]="'Mark all as read'"
        (click)="markAllAsRead()">
        <mat-icon [svgIcon]="'playlist_add_check'"></mat-icon>
      </button>

    </div>

    <div class="content">

      <!-- Messages -->
      @for (message of messages; track message) {
        <div class="message"
          [ngClass]="{'unread': !message.read}">
          <!-- Message with a link -->
          @if (message.link) {
            <!-- Normal links -->
            @if (!message.useRouter) {
              <a
                [href]="message.link">
                <ng-container *ngTemplateOutlet="messageContent"></ng-container>
              </a>
            }
            <!-- Router links -->
            @if (message.useRouter) {
              <a
                [routerLink]="createRouteFromLink(message.link)">
                <ng-container *ngTemplateOutlet="messageContent"></ng-container>
              </a>
            }
          }
          <!-- Message without a link -->
          @if (!message.link) {
            <span>
              <ng-container *ngTemplateOutlet="messageContent"></ng-container>
            </span>
          }
          <!-- Actions -->
          <div class="actions">
            <!-- Indicator -->
            <button class="indicator"
              mat-icon-button
              (click)="toggleRead(message)"
              [matTooltip]="message.read ? 'Mark as unread' : 'Mark as read'">
              @if (!message.read) {
                <span
                class="unread"></span>
              }
              @if (message.read) {
                <span
                class="read"></span>
              }
            </button>
            <button class="remove"
              mat-icon-button
              (click)="delete(message)"
              [matTooltip]="'Remove'">
              <mat-icon [svgIcon]="'close'"></mat-icon>
            </button>
          </div>
        </div>
        <ng-template #messageContent>
          <!-- Icon -->
          @if (message.icon && !message.image) {
            <mat-icon class="icon"
              [svgIcon]="message.icon">
            </mat-icon>
          }
          <!-- Image -->
          @if (message.image) {
            <img class="image"
              [src]="message.image">
          }
          <!-- Title, description & time -->
          <div class="message-content">
            @if (message.title) {
              <div class="title"
              [innerHTML]="message.title"></div>
            }
            @if (message.description) {
              <div class="description"
              [innerHTML]="message.description"></div>
            }
            <div class="time">{{message.time | date:'MMM dd, h:mm a'}}</div>
          </div>
        </ng-template>
      }

      @if (!messages || !messages.length) {
        <div class="empty">
          <mat-icon [svgIcon]="'message'"></mat-icon>
          <span>No messages</span>
        </div>
      }

    </div>

  </div>

</ng-template>
