<div class="flex flex-col flex-auto w-full p-8 xs:p-2">
    <div class="flex flex-wrap w-full">
        <div class="w-full my-4 px-4 xs:pr-0">
            <h2 class="m-0">Home</h2>
            <div class="text-secondary tracking-tight">Speed skating results at a glance</div>
        </div>

        <div class="grid xl:grid-cols-2 grid-cols-1 w-full gap-8">
            <app-world-records-box gender="male"></app-world-records-box>
            <app-world-records-box gender="female"></app-world-records-box>
            <app-olympic-records-box gender="male"></app-olympic-records-box>
            <app-olympic-records-box gender="female"></app-olympic-records-box>
        </div>
    </div>
</div>
