<div class="content-layout fullwidth-basic-normal-scroll">

    <div class="max-w-3xl m-8 rich-text">
        <h2>Starter - Example component</h2>
        <p>
            This is the <strong>Starter</strong> version of the Assembly.
        </p>
        <p>
            While it <strong>doesn't</strong> include any of the example applications or pages from the <em>Demo</em> app,
            it still has the essential parts such as <em>Authentication</em> pages, <em>Notifications</em>, <em>Messages</em>
            and <em>Shortcuts</em> panels, <em>Search</em> component and more.
        </p>
        <p>
            Build your application on top of this version. You can copy/paste modules from the <em>Demo</em> app into here
            as you need them. Since <em>Demo</em> app has lots of example applications, sample and informational pages, it also
            has a lot of weight to it which will slow down the development.
        </p>
    </div>

</div>
