<div class="flex flex-col flex-auto w-full p-8 xs:p-2">
    <div class="flex flex-wrap w-full">
        <div class="flex items-center justify-between w-full my-4 px-4 xs:pr-0">
            <div class="mr-6">
                <h2 class="m-0">Home</h2>
                <div class="text-secondary tracking-tight">Speed skating results at a glance</div>
            </div>
            <!-- Action buttons -->
            <div class="flex items-center">
                <button class="xs:hidden"
                        mat-stroked-button>
                    <mat-icon class="icon-size-20"
                              [svgIcon]="'save'"></mat-icon>
                    <span class="ml-2">Export</span>
                </button>
                <button class="ml-2 xs:hidden"
                        mat-stroked-button>
                    <mat-icon class="icon-size-20"
                              [svgIcon]="'assessment'"></mat-icon>
                    <span class="ml-2">Reports</span>
                </button>

                <!-- Actions menu (visible on xs) -->
                <div class="hidden xs:flex">
                    <button [matMenuTriggerFor]="actionsMenu"
                            mat-icon-button>
                        <mat-icon [svgIcon]="'more_vert'"></mat-icon>
                    </button>
                    <mat-menu #actionsMenu="matMenu">
                        <button mat-menu-item>
                            <mat-icon class="icon-size-20"
                                      [svgIcon]="'save'"></mat-icon>
                            <span class="ml-2">Export</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon class="icon-size-20"
                                      [svgIcon]="'share'"></mat-icon>
                            <span class="ml-2">Share</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
        <!-- Recent transactions table -->
        <div class="flex flex-auto w-7/12 p-4 overflow-hidden lt-xl:w-full">
            <div class="flex flex-col flex-auto bg-card shadow-md rounded overflow-hidden">
                <div class="p-6">
                    <div class="font-bold text-md text-secondary uppercase tracking-wider">Recent transactions</div>
                    <div class="text-sm text-hint font-medium">1 pending, 4 completed</div>
                </div>
                <div class="overflow-auto">
                    <table class="w-full bg-transparent"
                           mat-table
                           matSort
                           [dataSource]="recentCompDataSource"
                           [trackBy]="trackByFn"
                           #recentCompTable>

                        <!-- Transaction ID -->
                        <ng-container matColumnDef="transactionId">
                            <th class="bg-cool-gray-50 dark:bg-cool-gray-700 border-t"
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                <span class="whitespace-no-wrap">
                                    Transaction ID
                                </span>
                            </th>
                            <td mat-cell
                                *matCellDef="let transaction">
                                <span class="pr-6 font-medium text-sm text-secondary whitespace-no-wrap">
                                    {{transaction.transactionId}}
                                </span>
                            </td>
                        </ng-container>

                        <!-- Date -->
                        <ng-container matColumnDef="date">
                            <th class="bg-cool-gray-50 dark:bg-cool-gray-700 border-t"
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                <span class="whitespace-no-wrap">
                                    Date
                                </span>
                            </th>
                            <td mat-cell
                                *matCellDef="let transaction">
                                <span class="pr-6 whitespace-no-wrap">
                                    {{transaction.date | date:'MMM dd, y'}}
                                </span>
                            </td>
                        </ng-container>

                        <!-- Name -->
                        <ng-container matColumnDef="name">
                            <th class="bg-cool-gray-50 dark:bg-cool-gray-700 border-t"
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                <span class="whitespace-no-wrap">
                                    Name
                                </span>
                            </th>
                            <td mat-cell
                                *matCellDef="let transaction">
                                <span class="pr-6 whitespace-no-wrap">
                                    {{transaction.name}}
                                </span>
                            </td>
                        </ng-container>

                        <!-- Amount -->
                        <ng-container matColumnDef="amount">
                            <th class="bg-cool-gray-50 dark:bg-cool-gray-700 border-t"
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                <span class="whitespace-no-wrap">
                                    Amount
                                </span>
                            </th>
                            <td mat-cell
                                *matCellDef="let transaction">
                                <span class="pr-6 font-medium whitespace-no-wrap">
                                    {{transaction.amount | currency:'USD'}}
                                </span>
                            </td>
                        </ng-container>

                        <!-- Status -->
                        <ng-container matColumnDef="status">
                            <th class="bg-cool-gray-50 dark:bg-cool-gray-700 border-t"
                                mat-header-cell
                                mat-sort-header
                                *matHeaderCellDef>
                                <span class="whitespace-no-wrap">
                                    Status
                                </span>
                            </th>
                            <td mat-cell
                                *matCellDef="let transaction">
                                <span class="inline-flex items-center font-bold text-xs px-2 py-2px rounded-full tracking-wide uppercase"
                                      [ngClass]="{'red-200': transaction.status === 'pending',
                                      'green-200': transaction.status === 'completed'}">
                                    <span class="w-2 h-2 rounded-full mr-2"
                                          [ngClass]="{'bg-red': transaction.status === 'pending',
                                      'bg-green': transaction.status === 'completed'}"></span>
                                    <span class="pr-2px leading-relaxed whitespace-no-wrap">{{transaction.status}}</span>
                                </span>
                            </td>
                        </ng-container>

                        <!-- Footer -->
                        <ng-container matColumnDef="recentOrdersTableFooter">
                            <td class="px-3 border-none"
                                mat-footer-cell
                                *matFooterCellDef
                                colspan="6">
                                <button mat-button
                                        [color]="'primary'">
                                    See all transactions
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row
                            *matHeaderRowDef="recentCompTableColumns"></tr>
                        <tr class="order-row h-16"
                            mat-row
                            *matRowDef="let row; columns: recentCompTableColumns;"></tr>
                        <tr class="h-16"
                            mat-footer-row
                            *matFooterRowDef="['recentOrdersTableFooter']"></tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="flex flex-auto flex-col w-5/12 min-w-80 p-4 lt-xl:w-full space-y-5">
            <app-world-records-box gender="male"></app-world-records-box>
            <app-world-records-box gender="female"></app-world-records-box>
        </div>



        <div class="flex flex-auto flex-col w-5/12 min-w-80 p-4 lt-xl:w-full space-y-5">
            <app-olympic-records-box gender="male"></app-olympic-records-box>
            <app-olympic-records-box gender="female"></app-olympic-records-box>
        </div>

        <!-- Budget -->
        <div class="flex flex-auto w-1/3 min-w-80 p-4 lt-xl:w-full">
            <div class="flex flex-col flex-auto p-6 bg-card rounded shadow-md">
                <div class="flex items-center">
                    <div class="flex flex-col">
                        <div class="font-bold text-md text-secondary uppercase tracking-wider">Budget</div>
                        <div class="text-hint text-sm font-medium">Monthly budget summary</div>
                    </div>
                    <div class="ml-auto">
                        <button mat-icon-button
                                [matMenuTriggerFor]="budgetMenu">
                            <mat-icon [svgIcon]="'more_vert'"></mat-icon>
                        </button>
                        <mat-menu #budgetMenu="matMenu">
                            <button mat-menu-item>Expenses breakdown</button>
                            <button mat-menu-item>Savings breakdown</button>
                            <button mat-menu-item>Bills breakdown</button>
                            <mat-divider class="my-2"></mat-divider>
                            <button mat-menu-item>
                                <span class="flex items-center">
                                    <mat-icon class="icon-size-20 mr-3"
                                              [svgIcon]="'print'"></mat-icon>
                                    <span>Print budget summary</span>
                                </span>
                            </button>
                            <button mat-menu-item>
                                <span class="flex items-center">
                                    <mat-icon class="icon-size-20 mr-3"
                                              [svgIcon]="'email'"></mat-icon>
                                    <span>Email budget summary</span>
                                </span>
                            </button>
                        </mat-menu>
                    </div>
                </div>

                <div class="flex flex-col">
                    <div class="my-4">
                        Last month; you had <strong>223</strong> expense transactions, <strong>12</strong> savings
                        entries and <strong>4</strong> bills.
                    </div>
                    <div class="flex items-center my-4">
                        <div class="flex items-center justify-center w-14 h-14 rounded red-100">
                            <mat-icon [svgIcon]="'heroicons_outline:credit-card'"></mat-icon>
                        </div>
                        <div class="flex-auto ml-4 leading-none">
                            <div class="font-semibold text-xs text-hint uppercase tracking-wider">Expenses</div>
                            <div class="mt-2 font-medium text-2xl">{{55231 | currency:'EUR'}}</div>
                            <mat-progress-bar class="mt-3 rounded-full"
                                              [color]="'warn'"
                                              [mode]="'determinate'"
                                              [value]="55.231"></mat-progress-bar>
                        </div>
                        <div class="flex items-end justify-end min-w-18 mt-auto ml-6">
                            <div class="text-lg leading-none">2.6%</div>
                            <mat-icon class="text-blue icon-size-16 ml-1"
                                      [svgIcon]="'arrow_downward'"></mat-icon>
                        </div>
                    </div>
                    <div class="flex items-center my-4">
                        <div class="flex items-center justify-center w-14 h-14 rounded indigo-100">
                            <mat-icon [svgIcon]="'heroicons_outline:cash'"></mat-icon>
                        </div>
                        <div class="flex-auto ml-4 leading-none">
                            <div class="font-semibold text-xs text-hint uppercase tracking-wider">Savings</div>
                            <div class="mt-2 font-medium text-2xl">{{78564 | currency:'EUR'}}</div>
                            <mat-progress-bar class="mt-3 rounded-full"
                                              [mode]="'determinate'"
                                              [value]="78.564"></mat-progress-bar>
                        </div>
                        <div class="flex items-end justify-end min-w-18 mt-auto ml-6">
                            <div class="text-lg leading-none">12.7%</div>
                            <mat-icon class="text-blue icon-size-16 ml-1"
                                      [svgIcon]="'arrow_upward'"></mat-icon>
                        </div>
                    </div>
                    <div class="flex items-center my-4">
                        <div class="flex items-center justify-center w-14 h-14 rounded teal-100">
                            <mat-icon [svgIcon]="'heroicons_outline:light-bulb'"></mat-icon>
                        </div>
                        <div class="flex-auto ml-4 leading-none">
                            <div class="font-semibold text-xs text-hint uppercase tracking-wider">Bills</div>
                            <div class="mt-2 font-medium text-2xl">{{34567 | currency:'EUR'}}</div>
                            <mat-progress-bar class="mt-3 rounded-full"
                                              [mode]="'determinate'"
                                              [value]="34.567"></mat-progress-bar>
                        </div>
                        <div class="flex items-end justify-end min-w-18 mt-auto ml-6">
                            <div class="text-lg leading-none">105.7%</div>
                            <mat-icon class="text-blue icon-size-16 ml-1"
                                      [svgIcon]="'arrow_upward'"></mat-icon>
                        </div>
                    </div>
                    <div class="text-sm text-hint">Exceeded your personal limit on <strong>bills</strong>! Be careful
                        next month.
                    </div>
                </div>
                <div class="flex items-center mt-auto">
                    <button class="mt-2"
                            mat-stroked-button
                            [color]="'primary'">
                        <mat-icon [svgIcon]="'cloud_download'"></mat-icon>
                        <span class="ml-3">Download Summary</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
