<div class="flex flex-col flex-auto bg-card shadow-md rounded overflow-hidden">
    <div class="p-5">
        <div class="font-bold text-md text-secondary uppercase tracking-wider">Olympic records</div>
        <div class="text-sm text-hint font-medium">{{this.gender === 'male' ? 'Men' : 'Ladies'}}</div>
    </div>
    <div class="overflow-auto">
        <table class="w-full bg-transparent" mat-table matSort [dataSource]="olympicRecordsDataSource" [trackBy]="trackByFn" #olympicRecordsTable>

            <!-- Distance -->
            <ng-container matColumnDef="distance">
                <th class="bg-cool-gray-50 dark:bg-cool-gray-700 border-t" mat-header-cell *matHeaderCellDef>
                    <span class="whitespace-no-wrap pr-1">Distance</span>
                </th>
                <td mat-cell *matCellDef="let record">
                    <span class="pr-1 font-medium text-sm text-secondary whitespace-no-wrap">{{record.distance}}</span>
                </td>
            </ng-container>

            <!-- Time -->
            <ng-container matColumnDef="time">
                <th class="bg-cool-gray-50 dark:bg-cool-gray-700 border-t" mat-header-cell *matHeaderCellDef>
                    <span class="whitespace-no-wrap px-1">Time</span>
                </th>
                <td mat-cell *matCellDef="let record">
                    <span class="px-1 whitespace-no-wrap">{{record.time}}</span>
                </td>
            </ng-container>

            <!-- Skater -->
            <ng-container matColumnDef="skater">
                <th class="bg-cool-gray-50 dark:bg-cool-gray-700 border-t" mat-header-cell *matHeaderCellDef>
                    <span class="whitespace-no-wrap px-1">Skater</span>
                </th>
                <td mat-cell *matCellDef="let record">
                    <a class="px-1 whitespace-no-wrap cursor-pointer underline" routerLink="/skaters/{{record.skater.id}}/{{record.skater.givenname}}/{{record.skater.familyname}}">
                        {{record.skater.givenname}} {{record.skater.familyname}}
                    </a>
                </td>
            </ng-container>

            <!-- Country -->
            <ng-container matColumnDef="country">
                <th class="bg-cool-gray-50 dark:bg-cool-gray-700 border-t" mat-header-cell *matHeaderCellDef>
                    <span class="whitespace-no-wrap px-1">Country</span>
                </th>
                <td mat-cell *matCellDef="let record">
                    <img class="w-auto mx-auto rounded-sm" src="/assets/images/flags/{{ record.skater.country }}.png" alt="{{ record.skater.country }}">
                </td>
            </ng-container>

            <!-- Date -->
            <ng-container matColumnDef="date">
                <th class="bg-cool-gray-50 dark:bg-cool-gray-700 border-t" mat-header-cell *matHeaderCellDef>
                    <span class="whitespace-no-wrap px-1">Date</span>
                </th>
                <td mat-cell *matCellDef="let record">
                    <span class="px-1 whitespace-no-wrap">{{record.date | date:'dd MMM y'}}</span>
                </td>
            </ng-container>

            <!-- Location -->
            <ng-container matColumnDef="location">
                <th class="bg-cool-gray-50 dark:bg-cool-gray-700 border-t" mat-header-cell *matHeaderCellDef>
                    <span class="whitespace-no-wrap px-1">Location</span>
                </th>
                <td mat-cell *matCellDef="let record">
                    <span class="px-1 whitespace-no-wrap">{{record.location}}</span>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="olympicRecordsTableColumns"></tr>
            <tr class="h-16" mat-row *matRowDef="let row; columns: olympicRecordsTableColumns;"></tr>
        </table>
    </div>
</div>
