<form class="grid grid-cols-4 gap-4" [formGroup]="searchForm" (ngSubmit)="submit()">
    <mat-form-field class="flex-auto w-full">
        <mat-select formControlName="country">
            <mat-option [value]="'all'">
                All countries
            </mat-option>
            <mat-option *ngFor="let country of countries" [value]="country.code">
                {{country.code}} - {{country.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="flex-auto w-full">
        <input matInput formControlName="givenName" [placeholder]="'Given name'">
    </mat-form-field>
    <mat-form-field class="flex-auto w-full">
        <input matInput formControlName="familyName" [placeholder]="'Family name'">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
        <mat-icon [svgIcon]="'search'"></mat-icon>
    </button>
</form>
