<!-- Shortcuts toggle -->
<button class="shortcuts-toggle"
  mat-icon-button
  (click)="openPanel()"
  #shortcutsOrigin>
  <mat-icon [svgIcon]="'bookmarks'"></mat-icon>
</button>

<!-- Shortcuts panel -->
<ng-template #shortcutsPanel>

  <div class="shortcuts-panel">

    <div class="header">

      <div class="title">
        Shortcuts
      </div>

      <div class="actions">

        <!-- View mode -->
        @if (mode === 'view') {
          <!-- Enter 'modify' mode -->
          <button mat-icon-button
            (click)="changeMode('modify')"
            [matTooltip]="'Enter edit mode'">
            <mat-icon [svgIcon]="'edit'"></mat-icon>
          </button>
          <!-- Enter 'add' mode -->
          <button mat-icon-button
            (click)="newShortcut()"
            [matTooltip]="'Add shortcut'">
            <mat-icon [svgIcon]="'add_circle'"></mat-icon>
          </button>
        }

        <!-- Modify mode -->
        @if (mode === 'modify') {
          <!-- Enter 'view' mode -->
          <button mat-icon-button
            (click)="changeMode('view')"
            [matTooltip]="'Exit edit mode'">
            <mat-icon [svgIcon]="'exit_to_app'"></mat-icon>
          </button>
        }

        <!-- Add mode -->
        @if (mode === 'add') {
          <!-- Enter 'view' mode -->
          <button mat-icon-button
            (click)="changeMode('view')">
            <mat-icon [svgIcon]="'arrow_back'"
            [matTooltip]="'Cancel'"></mat-icon>
          </button>
        }

        <!-- Edit mode -->
        @if (mode === 'edit') {
          <!-- Enter 'modify' mode -->
          <button mat-icon-button
            (click)="changeMode('modify')">
            <mat-icon [svgIcon]="'arrow_back'"
            [matTooltip]="'Cancel'"></mat-icon>
          </button>
        }

      </div>

    </div>

    <div class="content"
      [ngClass]="'mode-' + mode">

      <!-- View mode -->
      @if (mode === 'view' || mode === 'modify') {
        <!-- Shortcuts -->
        @for (shortcut of shortcuts; track shortcut) {
          <div class="shortcut">
            <div class="edit-shortcut"
              (click)="editShortcut(shortcut)">
            </div>
            <!-- Normal links -->
            @if (!shortcut.useRouter) {
              <a
                [href]="shortcut.link">
                <ng-container *ngTemplateOutlet="linkContent"></ng-container>
              </a>
            }
            <!-- Router links -->
            @if (shortcut.useRouter) {
              <a
                [routerLink]="createRouteFromLink(shortcut.link)">
                <ng-container *ngTemplateOutlet="linkContent"></ng-container>
              </a>
            }
            <ng-template #linkContent>
              <div class="icon">
                @if (mode === 'modify') {
                  <mat-icon class="edit-icon"
                  [svgIcon]="'edit'"></mat-icon>
                }
                <mat-icon class="link-icon"
                [svgIcon]="shortcut.icon"></mat-icon>
              </div>
              <div class="label">{{shortcut.label}}</div>
              <div class="description">{{shortcut.description}}</div>
            </ng-template>
          </div>
        }
        @if (!shortcuts || !shortcuts.length) {
          <div class="empty">
            <mat-icon [svgIcon]="'bookmarks'"></mat-icon>
            <span>No shortcuts</span>
          </div>
        }
      }

      <!-- Form mode -->
      @if (mode === 'add' || mode === 'edit') {
        <form [formGroup]="shortcutForm">
          <mat-form-field>
            <mat-label>Label</mat-label>
            <input matInput
              [formControlName]="'label'"
              required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <input matInput
              [formControlName]="'description'">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Icon</mat-label>
            <input matInput
              [formControlName]="'icon'"
              required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Link</mat-label>
            <input matInput
              [formControlName]="'link'"
              required>
          </mat-form-field>
          <mat-slide-toggle [color]="'primary'"
            [formControlName]="'useRouter'">
            Use router for the link
          </mat-slide-toggle>
          <div class="actions">
            @if (mode === 'edit') {
              <button class="delete"
                mat-flat-button
                type="button"
                (click)="delete()">
                Delete
              </button>
            }
            <button mat-flat-button
              [color]="'primary'"
              [disabled]="!shortcutForm.valid"
              type="button"
              (click)="save()">
              @if (mode === 'add') {
                Add
              }
              @if (mode === 'edit') {
                Update
              }
            </button>
          </div>
        </form>
      }

    </div>

  </div>

</ng-template>
