// -----------------------------------------------------------------------------------------------------
// @ You can use this file to import custom styles.
//
// @ Styles from this file will override anything from 'vendors.scss' file allowing customizations and
//  modifications of third party libraries.
// -----------------------------------------------------------------------------------------------------

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 20px !important;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 20px !important;
}

.cdk-overlay-pane .mat-mdc-select-panel,
.mat-mdc-select-panel.mdc-menu-surface,
.cdk-overlay-pane .mat-select-panel {
  background-color: var(--mat-sys-surface, #ffffff) !important;
}

.cdk-overlay-pane .mat-mdc-autocomplete-panel,
.cdk-overlay-pane .mat-autocomplete-panel {
  background-color: var(--mat-sys-surface, #ffffff) !important;
}
