<!-- Notifications toggle -->
<button class="notifications-toggle"
  mat-icon-button
  (click)="openPanel()"
  #notificationsOrigin>
  @if (unreadCount > 0) {
    <mat-icon
    [svgIcon]="'notifications_active'"></mat-icon>
  }
  @if (unreadCount === 0) {
    <mat-icon
    [svgIcon]="'notifications'"></mat-icon>
  }
</button>

<!-- Notifications panel -->
<ng-template #notificationsPanel>

  <div class="notifications-panel">

    <div class="header">

      <div class="title">
        Notifications
      </div>

      <button class="mark-all-as-read"
        mat-icon-button
        [matTooltip]="'Mark all as read'"
        (click)="markAllAsRead()">
        <mat-icon [svgIcon]="'playlist_add_check'"></mat-icon>
      </button>

    </div>

    <div class="content">

      <!-- Notifications -->
      @for (notification of notifications; track notification) {
        <div class="notification"
          [ngClass]="{'unread': !notification.read}">
          <!-- Notification with a link -->
          @if (notification.link) {
            <!-- Normal links -->
            @if (!notification.useRouter) {
              <a
                [href]="notification.link">
                <ng-container *ngTemplateOutlet="notificationContent"></ng-container>
              </a>
            }
            <!-- Router links -->
            @if (notification.useRouter) {
              <a
                [routerLink]="createRouteFromLink(notification.link)">
                <ng-container *ngTemplateOutlet="notificationContent"></ng-container>
              </a>
            }
          }
          <!-- Notification without a link -->
          @if (!notification.link) {
            <span>
              <ng-container *ngTemplateOutlet="notificationContent"></ng-container>
            </span>
          }
          <!-- Actions -->
          <div class="actions">
            <!-- Indicator -->
            <button class="indicator"
              mat-icon-button
              (click)="toggleRead(notification)"
              [matTooltip]="notification.read ? 'Mark as unread' : 'Mark as read'">
              @if (!notification.read) {
                <span
                class="unread"></span>
              }
              @if (notification.read) {
                <span
                class="read"></span>
              }
            </button>
            <button class="remove"
              mat-icon-button
              (click)="delete(notification)"
              [matTooltip]="'Remove'">
              <mat-icon [svgIcon]="'close'"></mat-icon>
            </button>
          </div>
        </div>
        <ng-template #notificationContent>
          <!-- Icon -->
          @if (notification.icon && !notification.image) {
            <mat-icon class="icon"
              [svgIcon]="notification.icon">
            </mat-icon>
          }
          <!-- Image -->
          @if (notification.image) {
            <img class="image"
              [src]="notification.image">
          }
          <!-- Title, description & time -->
          <div class="notification-content">
            @if (notification.title) {
              <div class="title"
              [innerHTML]="notification.title"></div>
            }
            @if (notification.description) {
              <div class="description"
              [innerHTML]="notification.description"></div>
            }
            <div class="time">{{notification.time | date:'MMM dd, h:mm a'}}</div>
          </div>
        </ng-template>
      }


      @if (!notifications || !notifications.length) {
        <div class="empty">
          <mat-icon [svgIcon]="'notifications'"></mat-icon>
          <span>No notifications</span>
        </div>
      }

    </div>

  </div>

</ng-template>
