// -----------------------------------------------------------------------------------------------------
// @ This file meant to be imported only once!
//   Use treo.scss to access to the Angular Material and Treo utilities
// -----------------------------------------------------------------------------------------------------

// 1. Utilities
@use 'treo' as *;

// 2. Vendors
@use 'vendors/normalize';
@use 'vendors/angular-material' as vendors-angular-material;

// 3. Base
@use 'base/preflight';
@use 'base/typography';
@use 'base/colors';
@use 'base/theming';

// 4. Layout
@use 'layout/content';

// 5. Components
@use 'components/example-viewer';
@use 'components/card';
@use 'components/input';

// 6. Overrides
@use 'overrides/angular-material' as overrides-angular-material;
@use 'overrides/fullcalendar';
@use 'overrides/highlightjs';
@use 'overrides/perfect-scrollbar';
@use 'overrides/quill';
