<div class="flex flex-col flex-auto w-full p-8 xs:p-2">
    <div class="flex flex-wrap w-full">
        <div class="w-full my-4 px-4">
            <h2 class="m-0">Choose a country</h2>
        </div>

        <mat-form-field class="treo-mat-no-subscript search-input w-80 px-4">
            <mat-icon matPrefix [svgIcon]="'search'"></mat-icon>
            <input matInput [formControl]="searchControl" [placeholder]="'Search a countries'"/>
        </mat-form-field>

        <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 xs:grid-cols-1 gap-4 w-full overflow-auto my-4 px-4 pb-2">
            <a *ngFor="let country of countries" [routerLink]="['/countries/' + country.code]" [ngClass]="{'hidden': !countryInSearch(country)}" class="bg-white p-4 pr-0 flex rounded-lg shadow cursor-pointer">
                <div class="flex items-center">
                    <img class="rounded" src="/assets/images/flags/{{ country.code }}.png" alt="{{ country.code }}">
                </div>
                <div class="w-full mx-4 text-center">
                    <h4 class="truncate font-bold text-gray-700 my-0">{{ country.name }}</h4>
                </div>
            </a>
        </div>

    </div>
</div>

