<div class="flex flex-col flex-auto w-full p-8 xs:p-2">
    <div class="flex flex-wrap w-full">
        <div class="w-full my-4 px-4">
            <h2 class="m-0">{{ skaterGivenName }} {{ skaterFamilyName }}</h2>
        </div>

        <div class="grid grid-cols-1 lg:grid-cols-3 xl:grid-cols-3 gap-8 w-full">
            <app-personal-records-box [skaterID]="skaterId"></app-personal-records-box>
            <app-season-bests-box [skaterID]="skaterId"></app-season-bests-box>
            <app-season-bests-chart-box [skaterID]="skaterId"></app-season-bests-chart-box>
        </div>

        <app-personal-results-box class="mt-8 max-w-full" [skaterID]="skaterId"></app-personal-results-box>
    </div>
</div>
