<div class="flex flex-col flex-auto w-full p-8 xs:p-2">
    <div class="flex flex-wrap w-full">
        <div class="w-full my-4 px-4">
            <h2 class="m-0">{{ skaterGivenName }} {{ skaterFamilyName }}</h2>
        </div>

        <div class="px-4 flex flex-wrap w-full gap-8">
            <app-personal-records-box class="max-w-full" [skaterID]="skaterId"></app-personal-records-box>
            <app-season-bests-box class="max-w-full" [skaterID]="skaterId"></app-season-bests-box>
        </div>

        <app-personal-results-box class="max-w-full px-4 mt-8" [skaterID]="skaterId"></app-personal-results-box>

    </div>
</div>
