<div class="flex flex-col flex-auto bg-card shadow-md rounded overflow-hidden">
  <div class="flex px-5 py-3 border-b">
    <div class="flex items-center h-9 font-bold text-md text-secondary uppercase tracking-wider mr-5">Season bests chart</div>

    <mat-form-field class="season-bests-chart-box-distance-selector" appearance="fill">
      <mat-select [(ngModel)]="distance" (ngModelChange)="loadChart()">
        @for (distance of [500, 1000, 1500, 3000, 5000, 10000]; track distance) {
          <mat-option [value]="distance">{{ distance }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  @if (chartOptions) {
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [dataLabels]="chartOptions.dataLabels"
        [grid]="chartOptions.grid"
        [stroke]="chartOptions.stroke"
        [title]="chartOptions.title">
      </apx-chart>
    </div>
  }
</div>
