<div class="flex flex-col flex-auto bg-card shadow-md rounded overflow-hidden">
    <div class="p-5">
        <div class="font-bold text-md text-secondary uppercase tracking-wider flex">Seasons bests chart</div>
    </div>

    <div id="chart" *ngIf="chartOptions">
        <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [xaxis]="chartOptions.xaxis"
                [yaxis]="chartOptions.yaxis"
                [dataLabels]="chartOptions.dataLabels"
                [grid]="chartOptions.grid"
                [stroke]="chartOptions.stroke"
                [title]="chartOptions.title">
        </apx-chart>
    </div>
</div>
