.season-bests-chart-box-distance-selector {
  .mat-form-field-wrapper {
    margin-bottom: 0 !important;

    .mat-form-field-flex {
      min-height: 36px !important;

      .mat-form-field-infix {
        width: 65px !important;
      }
    }
  }
}
